@import "./reset.css";

html,
body {
  background: #fff;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Merriweather", serif !important;
  font-weight: 700;
}
