@import "./reset.css";

#app {
  height: 100vh;
  display: flex;

  & > .layout {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
  }
}

html,
body {
  background: #fff;
  overflow: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Merriweather", serif !important;
  font-weight: 700;
}
